* {
  box-sizing: border-box;
}

#skitt-ui {
  height: 50px;
  left: 10px !important;
  bottom: 10px !important;
}

.skitt-ui--listening {

}
.skitt-ui--not-listening {

}

/*Popover*/

.Popover {
  z-index: 10000;
}

.dark-toast{
  background: #323232;
  color: #fff;
}
 
.dark-toast > .toastify__close{
  color: #fff;
}
 
.transparent-progress{
  background:  rgba(255,255,255,.7);
}